
@media (max-width:376px) {
    .pai {
        padding: 20px; 
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        gap: 20px;
        background: linear-gradient(to bottom, #111111, #8a8a8a);
       }
}

@media (max-width: 286px) {

      .days{
        color: #ec0b0b;
        font-weight: bold;
        font-size: 3vw;
      }
      .hours{
        color: #ec0b0b;
        font-weight: bold;
        font-size: 3vw;
      }
      .minutes{
        color: #ec0b0b;
        font-weight: bold;
        font-size: 3vw;
      }
      .seconds{
        color: #ec0b0b;
        font-weight: bold;
        font-size: 3vw;
      }
      
      .timer {
        max-width: 40%;
        padding: 3%;
        background-color: #e9dcdc;
        border-radius: 3px;
        margin: 5%;
        text-align: center;
      }
        
      .smalltext {
        display: flex;
        font-size: 3vw;
        font-weight: bold;
        color: #df1212;
        margin-top: 2%;
       
      }
          
      



}
